.overlay {
  background: #000;
  color: #132f4f;
  opacity: 0;
}

#home {
  background-attachment: fixed;
  background-image: url('https://imgur.com/Ce4dZT0');
  /*background-image: url('../images/samuel-zeller-379406-2.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
