.overlay {
  background: #000;
  opacity: 0;
}

#home {
  background-attachment: fixed;
  background-image: url('../images/samuel-zeller-379406-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

#home p {

}

#greeting {
  margin-top: 82px;
}

#about h2 {
color: #bad3d4;
}

/*#about .icon {
  color: #be5100;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 2px #fff;
  border-radius: 20px;
  z-index: 3;
}

.fa fa-angle-double-down {
  border-color: #be5100;
  transform: translate(0, 0);
}*/

#about p {
  font-size: 16px;
  font-style: normal;
  color: #be5100;
}

#portfolio h2, h4 {
  color: #606163;
}

#portfolio p {
  color: #be5100;
}

#rez-skills {
  background-attachment: fixed;
  background-image: url('../images/brandi-redd-122054-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

#rez-skills img {
  border: 1px;
  border-color: #be5100;
  border-radius: 5px;
  border-style: solid;
  box-shadow: -5px 7px 11px 3px #8c8b8b;
}

#rez-skills h2 {
  color: #bad3d4;
}

.italic {
  color: #fff;
}

.col-md-6 {
  font-size: 16px;
  font-style: normal;
  text-align: justify;
}

.section-gray {
  background: #bad3d4;
}

h1 {
  color: #bad3d4;
  font-size: 71px;
}

p {
  color: #206868;
  font-size: 17px;
  font-style: italic;
}

#about p {
  font-size: 16px;
  font-style: normal;
}

#thankyou_message p {
  color: #be5100;
  font-size: 25px;
}
