.overlay {
  background: #000;
  opacity: 0;
}

#home {
  background-attachment: fixed;
  background-image: url('../images/samuel-zeller-379406-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

.italic {
  color: #fff;
}

col-md-8 col-md-offset-2 col-sm-12 {
  margin-top: 58px;
}

h1 {
  color: #bad3d4;
  font-size: 60px;
}
